<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>Admin - Client</title>
  </head>
  <body>

    <!-- Navbar -->
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/admin/staff">Staff</a></li>
      <li><a href="/admin/client">Client</a></li>
    </ul>
    <!-- Navbar end -->

    <h1 class="text-center">Clients</h1>

    <table class="w-full">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>DOB</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot></tfoot>
      <tbody id="tbody">
        <!-- Add Row -->
        <tr id="addClientInput">
          <td></td>
          <td>
            <label for="nameInput"
              ><input
                type="text"
                name="nameInput"
                id="nameInput"
                placeholder="Chim"
                class="w-full"
            /></label>
          </td>
          <td>
            <label for="dobInput"
              ><input
                type="text"
                name="dobInput"
                id="dobInput"
                placeholder="Chim"
                class="w-full"
            /></label>
          </td>
          <td>
            <label for="phoneInput"
              ><input
                type="text"
                name="phoneInput"
                id="phoneInput"
                placeholder="Chim"
                class="w-full"
            /></label>
          </td>

          <td>
            <button class="button" onclick="addNewClientRow()">Add Client</button>
          </td>
        </tr>
        <!-- End Add Row -->

        <!-- Content -->
        <!-- End content -->
      </tbody>
    </table>

    <script>
      const tbody = document.getElementById("tbody");
      const addClientInput = document.getElementById("addClientInput");
      const nameInput = document.getElementById("nameInput");
      const dobInput = document.getElementById("dobInput");
      const phoneInput = document.getElementById("phoneInput");

      const editInput = `<button class="button">Edit</button>`;

      // ============================= HTTP request helpers =============================
      const getAllClients = async () => {
        const res = await fetch(`http://${window.location.host}/api/client/all`);
        return res.json();
      };

      const registerClient = async (name, dob, phoneNumber) => {
        const res = await fetch(`http://${window.location.host}/api/client`, {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name: name,
            dob: dob,
            phoneNumber: phoneNumber,
          }),
        });
        return res.json();
      };

      const deleteClient = async (id) => {
        const res = await fetch(
          `http://${window.location.host}/api/client/${id}`,
          { method: "DELETE" }
        );
        return res.json();
      };

      // ============================= GUI handlers =============================
      const getDeleteButton = (id) => {
        let button = document.createElement("button");
        button.innerText = "Delete";
        button.onclick = () => removeClientRow(id);
        return button;
      };

      const generateTable = async () => {
        const clients = await getAllClients();

        clients.forEach((client) => {
          addSingleRow(client);
        });
      };

      const addSingleRow = async (client) => {
        let newRow = document.createElement("tr");
        newRow.id = client.clientID;
        Object.values(client).forEach((val) => {
          let field = document.createElement("td");
          field.innerText = val;
          newRow.appendChild(field);
        });
        let action = document.createElement("td");
        action.appendChild(getDeleteButton(client.clientID));

        newRow.appendChild(action);
        tbody.appendChild(newRow);
      };

      const removeSingleRow = async (id) => {
        const rowToRemove = document.getElementById(id);
        tbody.removeChild(rowToRemove);
      };

      // ============================= Button Handlers =============================
      const addNewClientRow = async () => {
        const name = nameInput.value;
        const dob = dobInput.value;
        const phoneNumber = phoneInput.value;

        if (!name || !dob || !phoneNumber) alert("Missing info!");

        const newClient = await registerClient(name, dob, phoneNumber);
        addSingleRow(newClient);
      };

      const removeClientRow = async (id) => {
        const newClient = await deleteClient(id);
        if (newClient?.message) removeSingleRow(id);
      };

      // ============================= Start Up =============================
      generateTable();
    </script>
  </body>
</html>
