<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>Client</title>
  </head>
  <body>

    <!-- Navbar -->
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a class="" href="/client/entry">Add New Entry</a></li>
      <li><a class="" href="/client/profile">My Profile</a></li>
    </ul>
    <!-- Navbar end -->

    <h1 class="text-center">Daily entry</h1>

    <label for="clientId">Client ID:</label>
    <input type="number" id="clientId" name="clientId" min="1" max="1000000" step="1">

    <table class="w-full">
      <thead>
        <tr>
          <th>Category</th>
          <th>Select if you experience this today</th>
        </tr>
      </thead>
      <tfoot></tfoot>
      <tbody id="tbody">
      </tbody>
    </table>

    <button class="submit-btn" onclick="handleSubmit()">Submit Entry</button>

    <script>
      const tbody = document.getElementById("tbody");


      const entries = ["fatique", "anxiety", "irritable", "unmotivated", "sadness", "headache", "crying", "bodyaches", "jounaling", "mediation", "yoga"]
      entries.forEach((val) => {
        let newRow = document.createElement("tr");
        newRow.innerHTML = `<td>${val}</td>
                            <td>
                              <input type="checkbox" id=${val} name=${val} value=${val}>
                              <label for="html">Yes</label>
                            </td>`
        tbody.appendChild(newRow);
      });

      // ============================= HTTP request helpers =============================
      const submitEntry = async () => {
        const res = await fetch(`https://${window.location.host}/api/tracker`, {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
              entryDate: new Date().toISOString().slice(0, 19).replace('T', ' '),
              clientID: document.getElementById("clientId").value,
              fatique: document.getElementById("fatique").checked ? "1" : "0",
              anxiety: document.getElementById("anxiety").checked ? "1" : "0",
              unmotivated: document.getElementById("unmotivated").checked ? "1" : "0",
              sadness: document.getElementById("sadness").checked ? "1" : "0",
              irritable: document.getElementById("irritable").checked ? "1" : "0",
              headache: document.getElementById("headache").checked ? "1" : "0",
              crying : document.getElementById("crying").checked ? "1" : "0",
              bodyaches : document.getElementById("bodyaches").checked ? "1" : "0",
              jounaling : document.getElementById("jounaling").checked ? "1" : "0",
              mediation : document.getElementById("mediation").checked ? "1" : "0",
              yoga : document.getElementById("yoga").checked ? "1" : "0"
          }),
        });
        return res.json();
      };

      // ============================= GUI handlers =============================
      const handleSubmit = async () => {
        const res = await submitEntry();
        entries.forEach(val => {
          const checkbox = document.getElementById(val);
          checkbox.checked = false;
        });
      }

      

     

      // ============================= Button Handlers =============================
      

      // ============================= Start Up =============================
    </script>
  </body>
</html>
