<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="home-nav">
      <button>
        <a href="/client/entry" class="w-40 px-5 py-3 text-4xl">Client</a>
      </button>
      <button>
        <a href="/staff" class="w-40 px-5 py-3 text-4xl">Staff</a>
      </button>
      <button>
        <a href="/admin/staff" class="w-40 px-5 py-3 text-4xl">Admin</a>
      </button>
    </div>
  </body>
</html>
