<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/global.css">
    <title>Staff</title>
  </head>
  <body>

    <p1>Staffs</p1>


    <table id="test-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>DOB</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tfoot></tfoot>
      <tbody>
        <tr>
          <td>
            <label for=""
              ><input type="text" name="" id="" placeholder="Chim"
            /></label>
          </td>
          <td>
            <label for=""
              ><input type="text" name="" id="" placeholder="Chim"
            /></label>
          </td>
          <td>
            <label for=""
              ><input type="text" name="" id="" placeholder="Chim"
            /></label>
          </td>
          <td>
            <label for=""
              ><input type="text" name="" id="" placeholder="Chim"
            /></label>
          </td>

          <td>
            <form action="">
              <input type="submit" class="tiny button" />
            </form>
          </td>
        </tr>
        <tr>
          <td>Chim</td>
          <td>Chim</td>
          <td>Chim</td>
          <td>Chim</td>
          <td>
            <form action="">
              <button class="button">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button class="button"><i class="fa fa-trash-o"></i></button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>


  </body>
</html>
